    /* General page styling */
    body {
        background-color: #111;
        background-image: url("images/fone.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: 'Montserrat', sans-serif;
        color: white;
        transition: background-color 0.3s ease, background-position 1s ease;
    }

    body:hover {
        background-position: center center;
        transition: background-position 1s ease;
    }

    /* Стили модального окна */
    .modal {
        display: none; /* Окно скрыто по умолчанию */
        position: fixed;
        z-index: 1000; /* Высокий приоритет для отображения поверх всего */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
    }

    .modal-content {
        background-color: #dbaa47; /* Основной цвет сайта */
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 300px;
    }

    .modal-content h2 {
        margin-bottom: 15px;
        color: #111;
        font-size: 24px;
        color: white;
    }

    .modal-content p {
        color: #111;
        font-size: 16px;
        margin-bottom: 20px;
        color: white;
    }

    .modal-buttons {
        display: flex;
        justify-content: space-between;
    }

    .modal-btn {
        background-color: #FFC24A; /* Цвет кнопок, немного темнее основного */
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .modal-btn:hover {
        background-color: #d49e30;
        transform: scale(1.05);
    }

    /* Navbar styling */
    .nav_bar {
        background: linear-gradient(45deg, #FFC24A, #E5B136);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        flex-wrap: wrap;
        transition: all 0.3s ease-in-out;
        position: relative;
        z-index: 999;
    }

    /* Company logo and text */
    .company {
        display: flex;
        align-items: center;
        color: black;
    }

    .company img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .company-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .company-text h3 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }

    .company-text hr {
        width: 100%;
        border: 0;
        border-top: 1px solid #424040;
        margin: 5px 0;
    }

    .company-text p {
        margin: 0;
        font-size: 14px;
        color: #333;
    }

    .language-selector {
        margin-left: 20px;
    }

    .language-selector select {
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        background-color: #FFC24A;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        color: white;
    }

    /* Contacts section styling */
    .contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacts button {
        background-color: rgb(66, 64, 64);
        border: none;
        border-radius: 50%;
        padding: 10px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    .contacts button img {
        width: 20px;
        height: 20px;
        transition: transform 0.3s;
    }

    .contacts button:hover {
        background-color: rgba(66, 64, 64, 0.5);
        transform: scale(1.1);
    }

    .contacts button:last-child {
        background-color: #424040;
        color: white;
        padding: 15px 20px;
        border-radius: 25px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    .contacts button:last-child:hover {
        background-color: #42404088;
        transform: scale(1.1);
    }

    /* Home section styling */
    .Home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        text-align: center;
        color: white;
    }

    .Home h1 {
        font-size: 48px;
        margin-bottom: 10px;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    }

    .Home h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .Home button {
        background-color: #FFC24A;
        color: black;
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    }

    .Home button img {
        width: 15px;
        height: 15px;
    }

    .Home button:hover {
        background-color: #fca22d;
        transform: scale(1.05);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }